/* src/index.css o estilos globales */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Ocupa toda la pantalla */
  width: 100%; /* Asegura el ancho completo */
  font-family: 'Roboto', sans-serif; /* Fuente estándar */
}

main {
  display: flex;
  flex-direction: column; /* Si tienes contenido vertical */
  min-height: 100vh; /* Ocupa al menos toda la altura de la pantalla */
  background-color: #f8f8f8; /* Fondo claro (opcional) */
}
